body {
  margin: 0px;
  padding: 20px;
  font-family: 'Orbitron', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #000000;
}

/*типы объектов*/
.gutter {
  width: 20px;
  height: 20px;
}
.container {
  display: flex;
  flex-direction: row;
}
.menuFrame {
  width: 50%;
  height: 240px;
  border: 2px solid #99CC99;
  padding: 20px;
  border-radius: 4px;
}
.menuSubtitle {
  color: #FFFFFF;
  width: 200px;
}
.menuSubtitle a{
  color: #FFFFFF;
  text-decoration: none;
}
.menuList {
  font-size: 24px;
  font-weight: 900;
  border-radius: 2px;
}
.menuList a {
  color: #99CC99;
  border-radius: 2px;
  text-decoration: none;
}
.menuList a:hover {
  color: #000000;
  animation-name: flicker;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
}
.menuActive {
  display: inline-block;
  color: #000000;
  background-color: #99FF99;
}
.bgCover {
  background-size: cover;
  background-position: center;
}
.bgImg01 {
  background-image: url("../images/01.gif");
}
.bgImg02 {
  background-image: url("../images/02.gif");
}
.bgImg03 {
  background-image: url("../images/03.gif");
}

@media (max-width: 640px) {
  .container {
    flex-direction: column;
  }
  .menuFrame {
    width: calc(100vw - 85px);
    /*не понял почему не 40 пикселей*/
  }
}

@keyframes flicker {
  0%   {background-color: #99CC99;}
  50%  {background-color: #669966;}
  100%  {background-color: #99CC99;}
}
